<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Etiquetas FC</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<script type="text/javascript" src="lib/libBase64.js"></script>
		<script src="lib/vue_2517.js"></script>

	<style>

		.foto {width: 90%}
		.subcat {color:red;}

		ul {list-style: none;padding-left: 20px;}
		.faqHeader {
			font-size: 27px;
			margin: 20px;
		}

		.panel-heading [data-toggle="collapse"]:after {
			font-family: 'Glyphicons Halflings';
			content: "\e072"; /* "play" icon */
			float: right;
			color: #F58723;
			font-size: 14px;
			line-height: 22px;
			/* rotate "play" icon from > (right arrow) to down arrow */
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			-o-transform: rotate(-90deg);
			transform: rotate(-90deg);
		}

		.panel-heading [data-toggle="collapse"].collapsed:after {
			/* rotate "play" icon from > (right arrow) to ^ (up arrow) */
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
			color: #454444;
		}
	</style>


	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script type="text/javascript">
		function formAction(frmID){
			var tags = [];
			var inputs = document.getElementById(frmID).elements["TAG"];
			console.log(inputs.length);
			for (i = 0; i < inputs.length; i++) {
				var input = inputs[i];
				if (input.checked) {
					console.log(input.value);
					tags.push(input.value);
				}
			}
			vgApp.appTagsFC.updtTags(tags);
		}
	</script>
	<script type='module' src='js/tagsImg.js'></script>
	</head>

	<body>


	<div class="container">
		<div class="blog-header">
			<h1 class="blog-title">Flora Catalana</h1>
			<h3 class="blog-title">Etiquetaje de fotos</h3>
		</div>
		<div class="alert alert-warning alert-dismissible" role="alert">
				Este apartado permite asignar etiquetas a las fotos aportadas por los socios de Flora Catalana.
		</div>
		<div id="tagsFC">
			<form class="form" >
				<div class="row g-2">
  			<div class="col-md-1">
				<select  class="form-control" >
					<option v-for="item in taggersLst" @click="setTaggerK(item.cod)" v-bind:value="item.id">
							{{ item.tag }}
					</option>
				</select>
			</div>
 			<div class="col-md-3">
				<select  class="form-control" >
					<option v-for="item in plantasLst" v-bind:value="item.id" @click="setTaxon(item.taxon)">
							{{ item.gen }} {{item.epit}} {{item.subsp}}
					</option>
				</select>
			</div>

 			<div class="col-md-2">
				<select  class="form-control" >
					<option v-for="item in fotosLst" v-bind:value="item.id" @click="cargaFoto(item)">
							{{item.taxon}}.{{item.ejemp}}.{{item.num}}.{{item.formato}}
					</option>
				</select>
			</div>
 			<div class="col-md-2">
				<select  class="form-control" >
					<option v-for="item in categLst" v-bind:value="item" @click="setCateg(item)">
							{{item}}
					</option>
				</select>
			</div>
			<div class="col-md-3">
				<form>
					<input type="radio" name="ZOOM" value="MACRO" v-model="tagsFoto.zoom"> Macro
					<input type="radio" name="ZOOM" value="MICRO" v-model="tagsFoto.zoom"> Micro
					<input type="radio" name="ZOOM" value="GRAL"  v-model="tagsFoto.zoom"> General
				</form>
			</div>
			<div class="col-md-1">
				<form>
					<input type="button" @click="grabaTags()" value="Grabar" >
				</form>
			</div>
		</div><!-- row -->
			</form>
		</div>


    <div class="row" style="margin-top:20px">
    	<div class="col-md-2">
 		<div class="panel-group" id="accordion">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_I">TIJA/TRONC</a>
					</h4>
				</div>
				<div id="collapse_I" class="panel-collapse collapse">
					<div class="panel-body">
						<form id="TT" method="post" action="javascript:formAction('TT')">
						<ul>
							<li class="subcat"><input type="radio" name="SUBCAT" value="TTR" checked > Tija/Tronc</li>
							<li><input type="checkbox" name="TAG" value="ttALA"> Ala</li>
							<li><input type="checkbox" name="TAG" value="ttCLA"> Cladodi</li>
							<li><input type="checkbox" name="TAG" value="ttGEM"> Gemma</li>
							<li><input type="checkbox" name="TAG" value="ttESC"> Escorça</li>
							<li><input type="checkbox" name="TAG" value="ttESP"> Espiniscència</li>
							<li><input type="checkbox" name="TAG" value="ttESQ"> Esquama</li>
							<li><input type="checkbox" name="TAG" value="ttEST"> Estoló</li>
							<li><input type="checkbox" name="TAG" value="ttFIL"> Fil·lotaxi</li>
							<li><input type="checkbox" name="TAG" value="ttGLA"> Glàndula</li>
							<li><input type="checkbox" name="TAG" value="ttPAP"> Papil·la</li>
							<li><input type="checkbox" name="TAG" value="ttPIL"> Pilositat</li>
							<li><input type="checkbox" name="TAG" value="ttRAM"> Ramificació</li>
							<li><input type="checkbox" name="TAG" value="ttSEC"> Secció</li>
							<li><input type="checkbox" name="TAG" value="ttTUR"> Turió</li>
						</ul>
						<input type="submit" value="Anotar">
						</form>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_II">FULLA</a>
					</h4>
				</div>
				<div id="collapse_II" class="panel-collapse collapse">
					<div class="panel-body">
						<form id="FU" method="post" action="javascript:formAction('FU')">
						<ul>
							<li class="subcat"><input type="radio" name="SUBCAT" value="FUL" checked> Fulla</li>
							<li class="subcat"><input type="radio" name="SUBCAT" value="FOL"> Folíol</li>
							<li class="subcat"><input type="radio" name="SUBCAT" value="FRO"> Fronda</li>
							<li><input type="checkbox" name="TAG" value="fuBEI"> Beina</li>
							<li><input type="checkbox" name="TAG" value="fuBUL"> Bulbil</li>
							<li><input type="checkbox" name="TAG" value="fuCOT"> Cotilèdon</li>
							<li><input type="checkbox" name="TAG" value="fuCIR"> Circell</li>
							<li><input type="checkbox" name="TAG" value="fuEST"> Estípula</li>
							<li><input type="checkbox" name="TAG" value="fuESP"> Espiniscència</li>
							<li><input type="checkbox" name="TAG" value="fuFIL"> Fil·lodi</li>
							<li><input type="checkbox" name="TAG" value="fuGLA"> Glàndula</li>
							<li><input type="checkbox" name="TAG" value="fuLIG"> Lígula fulla</li>
							<li><input type="checkbox" name="TAG" value="fuINS"> Inserció</li>
							<li><input type="checkbox" name="TAG" value="fuLIM"> Limbe
								<ul id="LIMBE">
									<li><input type="checkbox" name="TAG" value="fuANV"> Anvers</li>
									<li><input type="checkbox" name="TAG" value="fuREV"> Revers</li>
									<li><input type="checkbox" name="TAG" value="fuMAR"> Marge</li>
									<li><input type="checkbox" name="TAG" value="fuBAS"> Base limbe</li>
									<li><input type="checkbox" name="TAG" value="fuAPE"> Àpex limbe</li>
								</ul>
							</li>
							<li><input type="checkbox" name="TAG" value="fuNEC"> Nectari</li>
							<li><input type="checkbox" name="TAG" value="fuNER"> Nervadura</li>
							<li><input type="checkbox" name="TAG" value="fuPAP"> Papil·la</li>
							<li><input type="checkbox" name="TAG" value="fuPEC"> Pecíol</li>
							<li><input type="checkbox" name="TAG" value="fuALA"> Ala (Pecíol)</li>
							<li><input type="checkbox" name="TAG" value="fuPEC"> Peciól·lul</li>
							<li><input type="checkbox" name="TAG" value="fuPIL"> Pilositat</li>
							<li><input type="checkbox" name="TAG" value="fuPIN"> Pinna/Pínnula</li>
							<li><input type="checkbox" name="TAG" value="fuRAQ"> Raquis</li>
							<li><input type="checkbox" name="TAG" value="fuROS"> Roseta</li>
							<li><input type="checkbox" name="TAG" value="fuSEC"> Secció</li>
						</ul>
						<input type="submit" value="Anotar">
						</form>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_III">FLOR</a>
					</h4>
				</div>
				<div id="collapse_III" class="panel-collapse collapse">
					<div class="panel-body">
						<form id="FL" method="post" action="javascript:formAction('FL')">
						<ul>
							<li class="subcat"><input type="radio" name="SUBCAT" value="FLO" checked> Flor</li>
							<li class="subcat"><input type="radio" name="SUBCAT" value="INF"> Inflorescéncia</li>
							<li><input type="checkbox" name="TAG" value="flBRA"> Bràctees/Bractèoles</li>
							<li><input type="checkbox" name="TAG" value="flBUL"> Bulbil</li>
							<li><input type="checkbox" name="TAG" value="flCAL"> Calicle</li>
							<li><input type="checkbox" name="TAG" value="flCAZ"> Calze
								<ul>
									<li><input type="checkbox" name="TAG" value="flSEP"> Sépal</li>
								</ul>
							</li>
							<li><input type="checkbox" name="TAG" value="flCOR"> Corol·la
								<ul>
									<li><input type="checkbox" name="TAG" value="flPET"> Pètal</li>
								</ul>
							</li>
							<li><input type="checkbox" name="TAG" value="flESp"> Esperó</li>
							<li><input type="checkbox" name="TAG" value="flESP"> Espiniscència</li>
							<li><input type="checkbox" name="TAG" value="flESQ"> Esquama</li>
							<li><input type="checkbox" name="TAG" value="flEST"> Estam
								<ul>
									<li><input type="checkbox" name="TAG" value="flANT"> Antera</li>
									<li><input type="checkbox" name="TAG" value="flFIL"> Filament</li>
								</ul>
							</li>
							<li><input type="checkbox" name="TAG" value="flESt"> Estaminodi</li>
							<li><input type="checkbox" name="TAG" value="flGLA"> Glàndula</li>
							<li><input type="checkbox" name="TAG" value="flGLU"> Glumma/Grummel·la</li>
							<li><input type="checkbox" name="TAG" value="flLIG"> Lígula flor</li>
							<li><input type="checkbox" name="TAG" value="flNEC"> Nectari</li>
							<li><input type="checkbox" name="TAG" value="flPAP"> Papil·la</li>
							<li><input type="checkbox" name="TAG" value="flPED"> Pedicel/Peduncle</li>
							<li><input type="checkbox" name="TAG" value="flPER"> Perigoni
								<ul>
									<li><input type="checkbox" name="TAG" value="flTEP"> Tèpal</li>
								</ul>
							</li>
							<li><input type="checkbox" name="TAG" value="flPIL"> Pilositat</li>
							<li><input type="checkbox" name="TAG" value="flPIS"> Pistil
								<ul>
									<li><input type="checkbox" name="TAG" value="flEST"> Estigma</li>
									<li><input type="checkbox" name="TAG" value="flESt"> Estil</li>
									<li><input type="checkbox" name="TAG" value="flOVA"> Ovari</li>
									<li><input type="checkbox" name="TAG" value="flSEC"> Secció</li>
								</ul>
							</li>
							<li><input type="checkbox" name="TAG" value="flPIS"> Pistilodi</li>
							<li><input type="checkbox" name="TAG" value="flPON"> Poncella</li>
							<li><input type="checkbox" name="TAG" value="flRAQ"> Raquis</li>
							<li><input type="checkbox" name="TAG" value="flVIL"> Vil·lá</li>
						</ul>
						<input type="submit" value="Anotar">
						</form>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_IV">FRUIT</a>
					</h4>
				</div>
				<div id="collapse_IV" class="panel-collapse collapse">
					<div class="panel-body">
						<form id="FR" method="post" action="javascript:formAction('FR')">
						<ul>
							<li class="subcat"><input type="radio" name="SUBCAT" value="FRU" checked> Fruit</li>
							<li class="subcat"><input type="radio" name="SUBCAT" value="INF"> Infrutescència</li>
							<li class="subcat"><input type="radio" name="SUBCAT" value="LLA"> Llavor</li>
							<li><input type="checkbox" name="TAG" value="frALA"> Ala</li>
							<li><input type="checkbox" name="TAG" value="frBEC"> Bec</li>
							<li><input type="checkbox" name="TAG" value="frCAL"> Calze</li>
							<li><input type="checkbox" name="TAG" value="frCAR"> Carúncula</li>
							<li><input type="checkbox" name="TAG" value="frESP"> Espiniscència</li>
							<li><input type="checkbox" name="TAG" value="frESQ"> Esquama</li>
							<li><input type="checkbox" name="TAG" value="frGLA"> Glàndula</li>
							<li><input type="checkbox" name="TAG" value="frPAP"> Papil·la</li>
							<li><input type="checkbox" name="TAG" value="frPED"> Pedicel/Peduncle</li>
							<li><input type="checkbox" name="TAG" value="frPIL"> Pilositat</li>
							<li><input type="checkbox" name="TAG" value="frSEC"> Secció</li>
							<li><input type="checkbox" name="TAG" value="frVIL"> Vil·lá</li>
						</ul>
						<input type="submit" value="Anotar">
						</form>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_V">SUBTERRANI</a>
					</h4>
				</div>
				<div id="collapse_V" class="panel-collapse collapse">
					<div class="panel-body">
						<form id="SU" method="post" action="javascript:formAction('SU')">
						<ul>
							<li class="subcat"><input type="radio" name="SUBCAT" value="SUB" checked> Subterrani</li>
							<li><input type="checkbox" name="TAG" value="suBUL"> Bulb</li>
							<li><input type="checkbox" name="TAG" value="suBUl"> Bulbil</li>
							<li><input type="checkbox" name="TAG" value="suREL"> Rel</li>
							<li><input type="checkbox" name="TAG" value="suRIZ"> Rizoma</li>
							<li><input type="checkbox" name="TAG" value="suTUB"> Tubercle</li>
							<li><input type="checkbox" name="TAG" value="suESQ"> Esquama</li>
							<li><input type="checkbox" name="TAG" value="suNOD"> Nòdul</li>
						</ul>
						<input type="submit" value="Anotar">
						</form>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_VI">PORT</a>
					</h4>
				</div>
				<div id="collapse_VI" class="panel-collapse collapse">
					<div class="panel-body">
						<form id="PO" method="post" action="javascript:formAction('PO')">
						<ul>
							<li class="subcat"><input type="radio" name="SUBCAT" value="POR" checked > Port</li>
							<li><input type="checkbox" name="TAG" value="poPLA"> Plántula</li>
							<li><input type="checkbox" name="TAG" value="poBAS"> Base Port</li>
							<li><input type="checkbox" name="TAG" value="poAPE"> Àpex port</li>
							<li><input type="checkbox" name="TAG" value="poCAP"> Capçada</li>
						</ul>
						<input type="submit" value="Anotar">
						</form>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_VII">HABITAT</a>
					</h4>
				</div>
				<div id="collapse_VII" class="panel-collapse collapse">
					<div class="panel-body">
						<form id="HA" method="post" action="javascript:formAction('HA')">
						<ul>
							<li class="subcat"><input type="radio" name="SUBCAT" value="HAB" checked > Hàbitat</li>
							<li><input type="checkbox" name="TAG" value="haPLA"> Planta suport</li>
						</ul>
						<input type="submit" value="Anotar">
						</form>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_VIII">ALTRES</a>
					</h4>
				</div>
				<div id="collapse_VIII" class="panel-collapse collapse">
					<div class="panel-body">
						<form id="AL" method="post" action="javascript:formAction('AL')">
						<ul>
							<li class="subcat"><input type="radio" name="SUBCAT" value="ALT" checked > Altres</li>
							<li><input type="checkbox" name="TAG" value="alEST"> Estròbil</li>
							<li><input type="checkbox" name="TAG" value="alESP"> Esporangis</li>
							<li><input type="checkbox" name="TAG" value="alESp"> Esporangiòfor</li>
							<li><input type="checkbox" name="TAG" value="alEXS"> Exsudat</li>
							<li><input type="checkbox" name="TAG" value="alIND"> Indusi</li>
							<li><input type="checkbox" name="TAG" value="alLAT"> Làtex</li>
							<li><input type="checkbox" name="TAG" value="alSOR"> Sorus</li>
						</ul>
						<input type="submit" value="Anotar">
						</form>
					</div>
				</div>
			</div>
    </div>
  </div> <!-- col-md-3 -->

  <div class="col-md-8">
  	<!-- img src="/Flora/IMG_2164.JPG" class="foto" -->
  	<img id="foto" src="https://floracatalana.cat/flora/sites/default/files/imgvasculars/2019-06/mgc5/VTax467.ExN.Img15.jpg" class="foto">
  </div> <!-- col-md-8-->

  </div> <!-- row -->

</div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>

